.crosslet,
.crosslet * {
  font-family: georgia, "times new roman", times, serif;
}
.crosslet .crosslet_panel,
.crosslet * .crosslet_panel {
  /*display: none;*/

  /*width: 950px;*/

  color: #565656;
  top: -10px;
}
.crosslet .crosslet_panel .box,
.crosslet * .crosslet_panel .box {
  /*float:left;*/

  display: inline-block;
  vertical-align: top;
  width: 215px;
  margin-left: 5px;
  background-color: #efefef;
  transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  /* Firefox 4 */

  -webkit-transition: background-color 0.2s;
  /* Safari and Chrome */

  -o-transition: background-color 0.2s;
  /* Opera */

  /*background: -webkit-linear-gradient(left top, white, darken(white,5%));*/

  border-bottom-right-radius: 15px;
  /*opacity: 0.9;*/

  border-bottom-left-radius: 15px;
  border: 1px solid #d6d6d6;
  border-top: none;
  box-shadow: 0 10px 14px -10px rgba(0, 0, 0, 0.8);
  padding: 5px;
  font-size: 11px;
  text-align: center;
  line-height: 10px;
}
.crosslet .crosslet_panel .box .legendForm,
.crosslet * .crosslet_panel .box .legendForm {
  display: none;
}
.crosslet .crosslet_panel .box .legendText h2,
.crosslet * .crosslet_panel .box .legendText h2,
.crosslet .crosslet_panel .box .legendForm h2,
.crosslet * .crosslet_panel .box .legendForm h2 {
  font-size: 1.1em;
  margin: 0px;
  margin-bottom: 4px;
  text-align: center;
  line-height: 1.3em;
}
.crosslet .crosslet_panel .box .legendText p,
.crosslet * .crosslet_panel .box .legendText p,
.crosslet .crosslet_panel .box .legendForm p,
.crosslet * .crosslet_panel .box .legendForm p {
  margin: 0px;
}
.crosslet .crosslet_panel .box .legendText select,
.crosslet * .crosslet_panel .box .legendText select,
.crosslet .crosslet_panel .box .legendForm select,
.crosslet * .crosslet_panel .box .legendForm select,
.crosslet .crosslet_panel .box .legendText input[type="text"],
.crosslet * .crosslet_panel .box .legendText input[type="text"],
.crosslet .crosslet_panel .box .legendForm input[type="text"],
.crosslet * .crosslet_panel .box .legendForm input[type="text"] {
  background-color: #efefef;
  width: auto;
  padding: 0px;
  padding-left: 4px;
  height: 12px;
  line-height: 13px;
  font-size: 12px;
  text-align: center;
  border: 1px solid #efefef;
  border-radius: 6px;
  font-weight: bold;
  margin: 0px;
  transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  /* Firefox 4 */

  -webkit-transition: background-color 0.2s;
  /* Safari and Chrome */

  -o-transition: background-color 0.2s;
  /* Opera */

  /*text-align: center;*/

}
.crosslet .crosslet_panel .box .graph,
.crosslet * .crosslet_panel .box .graph {
  /*.transition(height);*/

  display: none;
}
.crosslet .crosslet_panel .box .graph,
.crosslet * .crosslet_panel .box .graph {
  display: inline-block;
  margin-bottom: 0px;
}
.crosslet .crosslet_panel .box .background.bar,
.crosslet * .crosslet_panel .box .background.bar {
  fill: #d6d6d6;
}
.crosslet .crosslet_panel .box .axis,
.crosslet * .crosslet_panel .box .axis {
  display: none;
}
.crosslet .crosslet_panel .box .axis path,
.crosslet * .crosslet_panel .box .axis path,
.crosslet .crosslet_panel .box .axis line,
.crosslet * .crosslet_panel .box .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.crosslet .crosslet_panel .box .axis text,
.crosslet * .crosslet_panel .box .axis text {
  font: 10px sans-serif;
}
.crosslet .crosslet_panel .box .brush rect.extent,
.crosslet * .crosslet_panel .box .brush rect.extent {
  fill: steelblue;
  fill-opacity: .125;
}
.crosslet .crosslet_panel .box .brush .resize,
.crosslet * .crosslet_panel .box .brush .resize {
  display: none;
}
.crosslet .crosslet_panel .box .brush .resize path,
.crosslet * .crosslet_panel .box .brush .resize path {
  fill: #eee;
  stroke: #666;
}
.crosslet .crosslet_panel .box svg,
.crosslet * .crosslet_panel .box svg {
  height: 25px;
  transition: height 0.2s;
  -moz-transition: height 0.2s;
  /* Firefox 4 */

  -webkit-transition: height 0.2s;
  /* Safari and Chrome */

  -o-transition: height 0.2s;
  /* Opera */

}
.crosslet .crosslet_panel .box.selected,
.crosslet * .crosslet_panel .box.selected,
.crosslet .crosslet_panel .box:hover,
.crosslet * .crosslet_panel .box:hover {
  opacity: 1;
  background: #ffffff;
  border-color: #b3b3b3;
  transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  /* Firefox 4 */

  -webkit-transition: background-color 0.2s;
  /* Safari and Chrome */

  -o-transition: background-color 0.2s;
  /* Opera */

  /*min-height: 110px;*/

  color: black;
}
.crosslet .crosslet_panel .box.selected .legendForm,
.crosslet * .crosslet_panel .box.selected .legendForm,
.crosslet .crosslet_panel .box:hover .legendForm,
.crosslet * .crosslet_panel .box:hover .legendForm {
  display: block;
}
.crosslet .crosslet_panel .box.selected .legendText,
.crosslet * .crosslet_panel .box.selected .legendText,
.crosslet .crosslet_panel .box:hover .legendText,
.crosslet * .crosslet_panel .box:hover .legendText {
  display: none;
}
.crosslet .crosslet_panel .box.selected select,
.crosslet * .crosslet_panel .box.selected select,
.crosslet .crosslet_panel .box:hover select,
.crosslet * .crosslet_panel .box:hover select,
.crosslet .crosslet_panel .box.selected input[type="text"],
.crosslet * .crosslet_panel .box.selected input[type="text"],
.crosslet .crosslet_panel .box:hover input[type="text"],
.crosslet * .crosslet_panel .box:hover input[type="text"] {
  background-color: #ffffff;
  border: 1px solid #b3b3b3;
  transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  /* Firefox 4 */

  -webkit-transition: background-color 0.2s;
  /* Safari and Chrome */

  -o-transition: background-color 0.2s;
  /* Opera */

}
.crosslet .crosslet_panel .box.selected .graph,
.crosslet * .crosslet_panel .box.selected .graph,
.crosslet .crosslet_panel .box:hover .graph,
.crosslet * .crosslet_panel .box:hover .graph {
  /*border: 1px dotted @inactive-border;*/

  /*height: 55px;*/

  margin: 5px;
  margin-bottom: 2px;
  display: block;
  /*
			  
			
			}*/

}
.crosslet .crosslet_panel .box.selected .graph svg,
.crosslet * .crosslet_panel .box.selected .graph svg,
.crosslet .crosslet_panel .box:hover .graph svg,
.crosslet * .crosslet_panel .box:hover .graph svg {
  height: 45px;
  transition: height 0.2s;
  -moz-transition: height 0.2s;
  /* Firefox 4 */

  -webkit-transition: height 0.2s;
  /* Safari and Chrome */

  -o-transition: height 0.2s;
  /* Opera */

}
.crosslet .crosslet_panel .box.selected .graph .axis,
.crosslet * .crosslet_panel .box.selected .graph .axis,
.crosslet .crosslet_panel .box:hover .graph .axis,
.crosslet * .crosslet_panel .box:hover .graph .axis {
  display: inline;
  transition: display 0.2s;
  -moz-transition: display 0.2s;
  /* Firefox 4 */

  -webkit-transition: display 0.2s;
  /* Safari and Chrome */

  -o-transition: display 0.2s;
  /* Opera */

}
.crosslet .crosslet_panel .box.selected .graph .brush .resize,
.crosslet * .crosslet_panel .box.selected .graph .brush .resize,
.crosslet .crosslet_panel .box:hover .graph .brush .resize,
.crosslet * .crosslet_panel .box:hover .graph .brush .resize {
  display: inline;
}
.crosslet .crosslet_panel .box.selected .graph .background.bar,
.crosslet * .crosslet_panel .box.selected .graph .background.bar,
.crosslet .crosslet_panel .box:hover .graph .background.bar,
.crosslet * .crosslet_panel .box:hover .graph .background.bar {
  fill: #cccccc;
}
.crosslet .box:not(.selected):hover .foreground.bar,
.crosslet * .box:not(.selected):hover .foreground.bar {
  fill: #808080;
}
.crosslet .box:not(.selected) .foreground.bar,
.crosslet * .box:not(.selected) .foreground.bar {
  fill: #bcbcbc;
  /*fill: steelblue;*/

}
.crosslet .box.selected #imd .foreground.bar,
.crosslet * .box.selected #imd .foreground.bar {
  /* fill: inherit; */

}
.crosslet svg g.crosslet_geometry {
  fill-opacity: 0.5;
}
.crosslet svg g.crosslet_geometry path {
  fill: white;
  stroke: none;
  /*stroke: black; */

}
.crosslet svg g.crosslet_geometry path:hover {
  fill-opacity: 0.2;
  stroke-width: 2px;
  stroke: white;
  box-shadow: -5px -5px -5px -5px rgba(0, 0, 0, 0.8);
}
.crosslet svg .hover {
  display: none;
}
.crosslet svg .hover rect {
  stroke: none;
  fill-opacity: 0.5;
  fill: #efefef;
  border-radius: 5px;
}
.crosslet svg .hover text {
  font-size: 12px;
  fill: black;
  font-weight: bold;
}
.crosslet svg:hover .hover {
  display: inline;
}
