 <script type="text/javascript">    
    var params = {{{ chartParams }}}
    head.ready(function(){
      
        var myColorScale = d3.scale.linear()
         .domain([1, 10, 20.1])
         .range(["red", "yellow", "green"])
         .interpolate(d3.cie.interpolateLab)
      
        var config = {
          map: getMap(params.scope),
          data: {version: "1.0", id_field: params.id_field},
          dimensions : {{{ dimensions }}},
          defaults: params.defaults,
        };
        new crosslet.MapView($("#map"),config)
    })
    
    function getMap(scope){
      var map = []
      map.world = {
        leaflet: {
          key: "af67a5248c104d27bff9e8d363b6db4a",
          styleId: 96931, /* 81531, */
          attribution: 'Map data &copy; <ahref="http://openstreetmap.org">OpenStreetMap</a>'
        },
        view: {
          center: [35.505, -1.09],
          zoom: 2
        },
        geo: {
          url: "http://rawgithub.com/markmarkoh/datamaps/master/src/js/data/world.topo.json",
          name_field: "name",
          id_field: "name",
          topo_object: "world"
        }
      }
      map.us = {
        leaflet: {
          key: "fe623ce312234f8f9333bbee72d4a176",
          styleId: 96931, /* 64657, */
          attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a>'
        },
        view: {
          center: [40.42, -98.73],
          zoom:5
        },
        geo: {
          url: "http://rawgithub.com/sztanko/crosslet/gh-pages/examples/us/data/us_counties.topo.json",
          name_field: "NAME",
          id_field: "GEOID",
          topo_object: "us_counties"
        }
      }
      return map[scope]
    }
</script>
<script>
    head.load(
      "http://cdn.leafletjs.com/leaflet-0.4/leaflet.css",
      "http://sztanko.github.io/crosslet/css/crosslet-min.css",
      "//cdn.leafletjs.com/leaflet-0.4.4/leaflet.js",
      "//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js",
      "//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.2/underscore-min.js",
      "//cdnjs.cloudflare.com/ajax/libs/d3/3.0.1/d3.v3.min.js",
      "//cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.2/backbone-min.js",
      "//sztanko.github.io/crosslet/js/crosslet.js"
    )
</script>
